*{margin:0;padding:0;}

body{
	
}

.right{
	float: right;
}

.left{
	float: left;
}

.clear{
	padding: 10px 0;
	width:100%;
}

.delete-form{
	float: left;
}

.header, .header a{
	background-color:#345234;
	color:white;	
	font-weight:bold;
	font-size:55px;
	padding:15px 10px;
	font-family: cursive;	
	text-decoration: none;
}

.content{
	float: right;
	padding: 5px;
	min-height: 500px;
}

.sidebar{
	float:left;
	min-width: 179px;
	box-shadow: 5px 5px 5px #523454;
	overflow:hidden;
}

.footer{
text-align: center;
background: #345234;
color: white;
padding: 21px 3px;
}
.clear{clear:both;}

.credit-link{
	color:#FFF;
	font-size:20px;
}


/**
 * css for responsive table
 * 
 */

@media only screen and (max-width: 800px) {


/* Force table to not be like tables anymore */
#no-more-tables table,
#no-more-tables thead,
#no-more-tables tbody,
#no-more-tables th,
#no-more-tables td,
#no-more-tables tr {
display: block;
}
 
/* Hide table headers (but not display: none;, for accessibility) */
#no-more-tables thead tr {
position: absolute;
top: -9999px;
left: -9999px;
}
 
#no-more-tables tr { border: 1px solid #ccc; overflow: hidden;}
  
#no-more-tables td {
/* Behave like a "row" */
border: none;
border-bottom: 1px solid #eee;
position: relative;
padding-left: 50%;
white-space: normal;
text-align:left;
}
 
#no-more-tables td:before {
/* Now like a table header */
position: absolute;
/* Top/left values mimic padding */
top: 6px;
left: 6px;
width: 45%;
padding-right: 10px;
white-space: nowrap;
text-align:left;
font-weight: bold;
}
 
/*
Label the data
*/
#no-more-tables td:before { content: attr(data-title); }
}

@media only screen and (max-width: 768px) {
	.sidebar{
		float: none;
	}
}